.suggestion{

    border: none;
    width: 180px;
    height: 300px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.cat{
    width: 180px;
    height: 200px;
    object-fit:cover;
    /* object-position: left; */
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    padding-top: 10px;
    padding-left: 10px;
}
.mutual{
    color: rgb(92, 90, 90);
    display: block;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.add-friend{
    border-radius: 3px;
    border-color: rgb(73, 73, 245);
    background-color: rgb(24, 119, 242);
    color: white;
    padding: 5px 20px;
    font-family: Arial, Helvetica, sans-serif;

    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
}