.twit{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    margin-top: 10px;
    margin-left: 10px;
    width: 550px;
    border: none;
    border-radius: 8px;

    padding: 10px;

    white-space: nowrap;
    
}

.cat {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;

}

.text {
    color: grey;
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.tweet {
    border: none;
    border-radius: 18px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(83, 162, 242);
    height: 35px;
    width: 80px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;

    margin-left: 200px;
}

