.list{
    margin: 30px;

    width: 500px;
    border-radius: 40px;    
    padding: 20px;

    box-shadow: 0px 1px 20px rgba(22, 0, 22, 0.2);
}

.profile{
    width: 500px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;


}

.prof-pict{
    width: 55px;
    height: 55px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}

.prof-pict img{
    width: 100%;
    height: 100%;
    
    
    border-radius: 50%;
    object-fit: cover;
}


.description{
    width: 180px;
    
    display: inline-block;
    
    margin-right: 100px;

    vertical-align: middle;
}
.name{
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 4px;
    display: block;
}
.bio{
    color: grey;
    font-size: 17px;
    margin-top: 0px;
    margin-bottom: 4px;
    display: block;
}
.type{
    color: grey;
    font-size: 15px;
    margin-top: 0px;
    display: block;
}
.follow{
    background-color: rgb(83, 162, 242);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    
    vertical-align: middle;
    padding: 10px 20px;

    cursor: pointer;
    transition: 0.15s;
    display: inline-block;

    
}
.follow:hover{
    background-color: rgb(60, 130, 200); 
}
