.suggestions{
    width: 600px;
    height: 500px;

    border: 2px solid blue;

    padding: 10px;
}

.profile{
    width: 300px;
    height: 350px;

    border: 2px solid black;

    box-shadow: 0 4px 8px rgba(0,0,0,0.25); 
}

.profile-pic{
    width: 197px;
    height: 100px;

    border: none;
    border: 2px solid green;
}

.cat{
    width: 100%;
    height: 100%;
}

.information{
    width: 80px;
    height: 40px;
}

.name{
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.mutual{
    width: 100%;
    height: 20px;

    border: 2px solid red;

}

.laptop{
    width: 20px;
    height: 20px;

    border-radius: 50%;
}

.total-mutual{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.add-friend{
    background-color: rgb(83, 162, 242);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.15s;
}

.add-friend:hover {
    background-color: rgb(60, 130, 200); /* Darker blue on hover */
}