/* Main Div container */
.yt-search-result{
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.15);

    width: 450px;
    padding-left: 15px;
    padding-bottom: 10px;

    margin: 20px;
}

/* Video Container*/
.video-preview{
    /* border: 1px solid; */
    height: 100px;

    margin-top: 10px;
    margin-bottom: 0px;

    display: inline-block;
}

.thumbnail{
    width: 180px;
    height: 100px;
    display: inline-block;

    object-fit: cover;

    margin-right: 10px;

    vertical-align: top;

}

.thumbnail img{
    width: 100%;
    height: 100%;

}
/* About video */

.description{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */

    height: 120px;
}

.channel-name,
.views{
    color: grey;
    font-size: 14px;
    font-weight:500;
}

.title{
    width: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

.channel-name{
    margin-top: 10px;
    margin-bottom: 0px;
}

.views{
    margin-top: 5px;
}