/* Example 1 */
.flex-1 {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    /* padding: 10px 0; */
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    align-items: center;
    padding-bottom: 12px 15px;
    padding-left: 10px;
}

.noti {
    margin: 10px 10px;
    border-radius: 20px;
    padding: 3px 12px;

    border: 1px solid rgba(0, 0, 139, 0.445);
    color: white;
    font-weight: bold;
    font-size: 16px;

    background-color: rgba(0, 0, 255, 0.663);
}

.heading {

    margin: 0px;
    /* font-weight: bold; */
    font-size: 18px;
    /* border: 1px solid black; */

}

/* Example 2 */

.flex-2 {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    /* border: 3px solid rgb(223, 223, 149); */
    margin-top: 50px;
    row-gap: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    flex-direction: row;
    /* background-color: rgb(224, 255, 238); */
    align-items: center;
    padding: 10px 15px;
    /* justify-content: space-around; */
}

.prof-info {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(255, 224, 253); */

    flex: 1;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.name {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.bio {
    font-size: 14px;
    color: grey;
    margin: 2px 0;
}

.status {
    font-size: 12px;
    color: gray;
    margin: 0px;
}

.follow {
    padding: 8px 16px;
    /* height: 40px; */

    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(24, 119, 242, 0.781);

}

/* Example 3 */
.flex-3 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    /* border: 3px solid rgb(223, 223, 149); */
    background-color: blueviolet;
    width: 700px;
    padding: 8px 16px;

}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-items: center;

}

.home {
    color: #ffffff;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
    margin: 0px;

}

.searchbar {
    border-radius: 50px;
    width: 400px;
    height: 30px;
    border: none;
    padding-left: 15px;
}

.download {
    
    padding: 8px 10px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    background-color:blueviolet;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.15s;
}

.download:hover {
    background-color: rgb(192, 198, 204);
    color: rgb(255, 255, 255);
}