/* Example 1 */
.gmail-1 {
    display: flex;
    flex-direction: column;
    max-width: 425px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);
    font-family: Arial, Helvetica, sans-serif;
    padding: 13px 13px 10px 18px;
    margin: 10px;
    margin-bottom: 30px;
    border-radius: 5px;

}

.item-1 {
    color: grey;
    font-size: 14px;
    font-weight: 500;
    /* border: 1px solid black; */

    margin-bottom: 20px;
}

.item-2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;

    /* border: 1px solid black; */
}

.profile-pic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 1px solid black; */

}

.layout{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */

    justify-content: space-between;
}

.sender-name {
    font-weight: bold;
    font-size: 19px;

}

.subject {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.message {
    color: grey;
    font-weight: 500;
    font-size: 17px;
}

.time {
    color: grey;
    font-size: 14px;
    /* margin-right: 10px; */
    font-weight: 500;
    padding-top: 2px;
}

p {
    margin: 0px;
}
