.tweet-box{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    margin: 10px;
    width: 400px;

    display: flex;
    flex-direction: row;

    font-family: Arial, Helvetica, sans-serif;
}

.profile-pic{
    margin-right: 10px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;

}

.item-2{
    display: flex;
    flex-direction: column;
}

.header{
    margin-bottom: 6px;
}

.display-name{
    font-weight: bold;
    font-size: 14px;
}

.username{
    color: grey;
    font-weight: 500;
    font-size: 15px;
}

.tweet{
    font-size: 15px;
    font-weight: 500;
}
.course-link{
    border: 1.6px solid rgba(128, 128, 128, 0.212);
    border-radius: 15px;
    display: flex;
    flex-direction: row;

    margin-top: 13px;
    cursor: pointer;
    width: 320px;
    overflow: hidden;
}
.container-1{
    background-color: rgba(128, 128, 128, 0.212);
    width: 150px;
    
    /* border: 1px solid black; */
}
.container-2{
    display: flex;
    flex-direction: column;
    padding: 12px;
    
}
.youtube-link{
    color: grey;
    margin-bottom:6px;
    font-weight: 500;
}
.text{
    font-weight: 500;
    font-size: 15px;
}