.fn{
    width: 140px;
    height: 30px;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(200, 194, 194);
    
    padding-left: 20px;

    font-family: Arial, Helvetica, sans-serif;

    display: inline-block;
}

.ln{
    width: 140px;
    height: 30px;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(200, 194, 194);
    
    padding-left: 20px;

    font-family: Arial, Helvetica, sans-serif;

    display: inline-block;
}

.mail{
    width: 310px;
    height: 30px;

    border-radius: 10px;
    border-style: solid;
    border-color: rgb(200, 194, 194);
    
    padding-left: 20px;
    margin-top: 10px;

    font-family: Arial, Helvetica, sans-serif;

    display: block;
}

.sign-up{
    background-color: rgb(55, 142, 235);
    color: white;
    font-weight: bold;
    font-size: 16px;

    border: none;
    border-radius: 8px;

    margin-top: 10px;
    width: 335px;
    height: 35px;
}