.container{
    width: 320px;
    height: 180px;

    background-color: grey;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.action{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* padding: 5px; */
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: -15px;
    top: -15px;

    font-size: 18px;
}
.timestamp{
    color: white;
    background-color: black;
    position: absolute;
    padding: 5px 8px;
    right: 8px;
    bottom: 8px;

    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}