.container{
    background-color: rgba(128, 128, 128, 0.121);
    width: 340px;
    height: 320px;
    position: relative;
    
    cursor: pointer;
    overflow: hidden;
}
.product{
    position: relative;
}

img{
    width: 300px;
    height: 300px;
    object-fit: fill;
}

.item{
    position: relative;
    top: 5px;
    left: 5px;
    width: fit-content;
}
.sale{
    position: absolute;
    right: 0px;
    top: 10px;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 8px 10px;
}

.cart-option{
    opacity: 0;
    visibility: hidden;
    transition: 1.15s;

    background-color: rgba(189, 188, 188, 0.571);
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100px;
    border: none;

    transform: translateY(20px);
}

.button{
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgba(0, 0, 0, 0.749);
    border-style:solid ;
    padding: 10px 15px;
    cursor:grab;

    font-weight: 600;
    background-color: rgb(255, 255, 255);
}

.container:hover .cart-option{
    box-shadow: 0px 2px 5px black;

    opacity: 1;
    visibility: visible;

    transform: translateY(0px);
}