p{
    margin: 0;
}

.discord{
    display: flex;
    flex-direction: row;
}
.sidebar-1{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 100px;
    background-color: rgb(25, 24, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.img-1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

    padding: 5px;
    /* margin-top: 10px; */
}

.sidebar-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 200px;
    margin-left: 92px;
    background-color: rgb(55, 54, 54);
    color: white;
    align-items: baseline;
}

.tags{
    display: flex;
    flex-direction: column;

    background-color: rgb(56, 56, 56);
    padding: 20px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.info{
    font-size: 14px;
    margin-bottom: 15px;
}

.channel{
    font-size: 15px;
    margin-bottom: 15px;
    color: gray;
}

.add{
    margin-right: 25px;
    font-size: 25px;
    font-weight: bold;
}

.sidebar-3{
    background-color: aliceblue;
}