.fixed{
    position: fixed;
    right: 5px;
    left: 5px;
    top: 5px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    padding: 5px;
    margin: 10px;

    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.container-1{
    align-items: center;
    display: flex;
    margin-left: 10px;
}
.dog-1{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
    margin-right: 5px;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.container-2{
    align-items: center;
    display: flex;
    margin-right: 10px;
}
.add-button{
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 255, 0.381);
    background-color: rgba(53, 53, 226, 0.89);
    cursor: pointer;
    color: white;
}
.message{
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.363);
    background-color: rgba(128, 128, 128, 0.363);
    cursor: pointer;
    color: black;
    margin-left: 5px;
}