.side-bar{
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 150px;

    background-color: rgb(138, 171, 90);
    color: white;

    padding-left: 20px;
}

.overlay{
    position: fixed;
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pop-up{
    background-color: white;
    width: 300px;
    
    border-radius: 5px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif; 
    
}

.title{
    font-size: 24px;
    font-weight: bold;
}
p{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 13px;
}

button{
    padding: 2px 10px;
    border-radius: 3px;
    font-weight: 500;
    border-color: grey;
    border-style: solid;
    font-size: 15px;
    cursor: pointer;
}

